<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.sqlite.JDBC" />
        <property name="url" value="jdbc:sqlite:messages.db" />
        <property name="initialSize" value="1" />
        <property name="maxActive" value="1" />
        <property name="maxIdle" value="1" />
        <property name="poolPreparedStatements" value="true" />
    </bean>

    <bean id="dao" class="vn.edu.rmit.sadi.MessageDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="socket" class="java.net.ServerSocket">
        <!-- port number -->
        <constructor-arg value="9999"/>
    </bean>

    <bean id="dbUtil" class="vn.edu.rmit.sadi.DbUtil">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dbThread" class="vn.edu.rmit.sadi.DbThread">
        <property name="dao" ref="dao"/>
    </bean>

    <bean id="main" class="vn.edu.rmit.sadi.Main">
        <property name="server" ref="socket"/>
        <property name="dbUtil" ref="dbUtil"/>
    </bean>

</beans>